    <body style="background-color: black;">
        <!-- rgb(0, 162, 255)-->
        <div class="page-header text-center" style="background-color:rgb(255, 187, 0);" href="/landing">

            

            <div class="container">
                <!--
                    <img class="rounded" src="../img/homeicon.png" href="/landing"></a>
                -->

                <h1 style="font-weight:bold;"> 
                    <img src="../img/ki_logo.png" alt="ki logo" width="30" height="30">  
                    <a href="/landing" style="text-decoration:none; color:black" data-toggle="tooltip" data-placement="top" title="Navigate Home">
                        The Pit Stop: For All Things Pit
                    </a>
                    <img src="../img/ssbu_logo.png" alt="ki logo" width="40" height="30">
                    <hr class="my-2">
                </h1>
    
            </div>
           
                   
        </div>

        