<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<div class="container mt-5" style="color:black">

    <h1 class="my-5" style="color:white; font-weight:bold; text-decoration:underline;">
        5 Essential Pit Combos
    </h1>

    <div class="container">

        <!--Nair Fair-->
            <div class="card my-5" style="background-color:lightgray;">
    
                <h1 class="card-header text-center">1) Nair -> Fair</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p> <b>Range:</b> 0-40% </p>
                            <p><b>Damage:</b> 21.8%</p>
                            <p><b>Details:</b></p>
                            <p class="container" style="text-indent:46px;">
                                Nair -> Fair is Pit's most essential combos at low percents. Not only is Nair one of Pit's best
                                 combo starters which happens to be a great neutral tool, but there is great possibility for continuation
                                  past fair. For example, the fair can be further comboed into grab, dash attack, or another nair.
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>   
                </div>
            </div>

        <!--Dthrow Dair Nair-->

            <div class="card my-5" style="background-color:lightgray;">
    
                <h1 class="card-header text-center">2) D-Throw -> Dair -> Nair/Uair</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p> <b>Range:</b> 0-70% </p>
                            <p><b>Damage:</b> %</p>
                            <p><b>Details:</b></p>
                            <p class="container" style="text-indent:46px;">
                                With its massive percent window and good damage, this is generally pit's best down-throw combo. To perform 
                                at early percents, you need to land the inner sourspot of dair, close to the spike hitbox. From 10-30, use 
                                full hop dair (this is the easiest). Onward, double jump dair combos into nair and up-air.
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>   
                </div>
            </div>
    </div>

    

    <table class="table-responsive table-bordered text-center my-5" style="margin-left:auto; margin-right:auto; border-color:black; background-color:white;">

        <tr style="background-color: royalblue; border-color: royalblue;">
            <td rowspan="62" style="background-color: royalblue; color: royalblue;">
                space
            </td>
            <td colspan="8" style="border-color: royalblue;">
                <h1 class="text-center">Early Percents (0-30)</h1>
            </td>
            <td rowspan="63" style="background-color: royalblue; color: royalblue;">
                space
            </td>
        </tr>

        <tr style="color:black; background-color: rgb(255, 187, 0);">
            <th>Combo Starter</th>
            <th>Follow Up</th>
            <th>Practicality</th>
            <th>Damage</th>
            <th>Notes</th>
            <th>Continuation</th>
        </tr>

        <!--Nair-->

        <tr>
            <td rowspan="7">SH AC Nair</td>
            <td>Fair</td>
            <td style="background-color:lightgreen;"></td>
            <td>SH:21.8  FH:23.9</td>
            <td>Most reliable follow-up</td>
            <td>Nair/Grab/Dash Attack</td>
        </tr>

        <tr>
            <td>FH Dair</td>
            <td style="background-color:lightgreen;"></td>
            <td>22.6</td>
            <td>Best on DI Up/Floatier Characters</td>
            <td>Nair</td>
        </tr>

        <tr>
            <td>Dash Attack</td>
            <td style="background-color:lightgreen;"></td>
            <td></td>
            <td>Sometimes the only possible continuation on fastfallers</td>
            <td></td>
        </tr>

        <tr>
            <td>Bair</td>
            <td style="background-color:lightgreen;"></td>
            <td>SH:22.9 FH:25.1</td>
            <td>Good finisher closer to mid percents</td>
            <td></td>
        </tr>

        <tr>
            <td>SH Nair</td>
            <td style="background-color:yellow;"></td>
            <td>18.7</td>
            <td>Only works on bad DI</td>
            <td>Nair/Fair/Bair/Dair/Up-Smash</td>
        </tr>

        <tr>
            <td>Up-Tilt</td>
            <td style="background-color:yellow;"></td>
            <td>21.4</td>
            <td>Only works on bad DI</td>
            <td>Nair</td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color:red;"></td>
            <td>26.4</td>
            <td>Suboptimal to Dair</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Grab:Down Throw-->

        <tr>
            <td rowspan="10">Grab: Down Throw</td>
            <td>Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>SH:17.9  FH:19.4</td>
            <td>SH:Good for non-floaties FH:Can be used to dragdown with platforms, otherwise bad</td>
            <td>SH: See Nair Combos FH: None (Dragdown strings on platforms)</td>
        </tr>

        <tr>
            <td>FH Dair</td>
            <td style="background-color:lightgreen;"></td>
            <td>20.1</td>
            <td>Most reliable follow-up, but harder from 0-10%</td>
            <td>Nair</td>
        </tr>

        <tr>
            <td>SH Fair</td>
            <td style="background-color:lightgreen;"></td>
            <td></td>
            <td>Best for fastfallers/heavies</td>
            <td>Grab/Nair</td>
        </tr>

        <tr>
            <td>Up-Tilt</td>
            <td style="background-color:yellow;"></td>
            <td>18.9</td>
            <td>Walk up for a few frames (harder)</td>
            <td>Nair/Up-Air</td>
        </tr>

        <tr>
            <td>SH Up-Air</td>
            <td style="background-color:yellow;"></td>
            <td>18.4</td>
            <td>Tight timing window</td>
            <td>Up-Air</td>
        </tr>

        <tr>
            <td>DD FH Up-Air</td>
            <td style="background-color:yellow;"></td>
            <td></td>
            <td>Requires platform for follow-ups</td>
            <td>Grab/F-Smash/Up-Smash/Up-Tilt</td>
        </tr>

        <tr>
            <td>SH Bair</td>
            <td style="background-color:yellow;"></td>
            <td>Sour:16.1 Sweet:20.4</td>
            <td>Very niche combos from sour hit</td>
            <td>Upsmash,(?)</td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color:red;"></td>
            <td>24.1</td>
            <td>Suboptimal</td>
            <td></td>
        </tr>

        <tr>
            <td>FH Fair</td>
            <td style="background-color:red;"></td>
            <td>21.4</td>
            <td>Suboptimal</td>
            <td></td>
        </tr>

        <tr>
            <td>FH Bair</td>
            <td style="background-color:red;"></td>
            <td>Sour:17.6 Sweet:22.6</td>
            <td>Suboptimal</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Dtilt-->

        <tr>
            <td rowspan="3">D-Tilt</td>
            <td>SH Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>17.6</td>
            <td>Most optimal for follow-ups</td>
            <td>See Nair combos</td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>23.9</td>
            <td>Better towards mid-percent</td>
            <td></td>
        </tr>

        <tr>
            <td>SH Up-Air</td>
            <td style="background-color:red;"></td>
            <td>18.4</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Sweet Bair-->

        <tr>
            <td rowspan="4">Landing Sweet Bair</td>
            <td>Grab</td>
            <td style="background-color:lightgreen;"></td>
            <td></td>
            <td>Tighter window</td>
            <td>See Dthrow follow-ups</td>
        </tr>

        <tr>
            <td>Dash Attack</td>
            <td style="background-color:lightgreen;"></td>
            <td>From SH:26.7 From FH:28.9</td>
            <td>More generous window</td>
            <td></td>
        </tr>

        <tr>
            <td>F-Smash</td>
            <td style="background-color:red;"></td>
            <td>From SH:31.7 From FH:34</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>F-Tilt</td>
            <td style="background-color:red;"></td>
            <td>From SH:25.4 From FH:27.7</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Sour Bair-->

        <tr>
            <td rowspan="9">Landing Sour Bair</td>
            <td>Grab</td>
            <td style="background-color:lightgreen;"></td>
            <td></td>
            <td>For Near 0</td>
            <td>See Dthrow follow-ups</td>
        </tr>

        <tr>
            <td>Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>From SH:18.6 From FH:20.1</td>
            <td></td>
            <td>See Nair combos
            </td>
        </tr>

        <tr>
            <td>Up-Tilt</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:19.9 From FH:21.4</td>
            <td></td>
            <td>Nair</td>
        </tr>

        <tr>
            <td>D-Tilt</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:16.1 From FH:17.6</td>
            <td></td>
            <td>See Dtilt combos
            </td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:22.4 From FH:23.9</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>F-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:27.4 From FH:28.9</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Dash Attack</td>
            <td style="background-color:red;"></td>
            <td>From SH:24.9 From FH:26.4</td>
            <td>Scenario too specific</td>
            <td></td>
        </tr>

        <tr>
            <td>D-Smash</td>
            <td style="background-color:red;"></td>
            <td>From SH:23.6 From FH:25.1</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>F-Tilt</td>
            <td style="background-color:red;"></td>
            <td>From SH:17.3 From FH:18.8</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Sour Dair-->

        <tr>
            <td rowspan="5">Landing Sour Dair</td>
            <td>Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>SH:20.7 FH:22.9</td>
            <td>Most consistent follow-up</td>
            <td>See Nair follow-ups for continuation</td>
        </tr>

        <tr>
            <td>Grab</td>
            <td style="background-color:lightgreen;"></td>
            <td>N/A</td>
            <td>For near 0</td>
            <td>See Dthrow follow-ups for continuation</td>
        </tr>

        <tr>
            <td>F-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:29.6 From FH:31.5</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:27.1 From FH:28.9</td>
            <td>Larger window than f-smash</td>
            <td></td>
        </tr>

        <tr>
            <td>F-Tilt</td>
            <td style="background-color:red;"></td>
            <td>From SH:23.3 From FH:25.2 (sweetspot)</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Landing Fair-->

        <tr>
            <td rowspan="5">Landing Fair</td>
            <td>D-Tilt</td>
            <td style="background-color:lightgreen;"></td>
            <td>From SH:19.3 FH:21.4</td>
            <td>Most consistent follow-up</td>
            <td>See D-Tilt follow-ups for continuation</td>
        </tr>

        <tr>
            <td>Grab</td>
            <td style="background-color:lightgreen;"></td>
            <td>N/A</td>
            <td>For near 0</td>
            <td>See Dthrow follow-ups for continuation</td>
        </tr>

        <tr>
            <td>Dash Attack</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:25.6 From FH:27.7</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>F-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:30.6 From FH:32.7</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>D-Smash</td>
            <td style="background-color:yellow;"></td>
            <td>From SH:26.9 From FH:29.2</td>
            <td>Less damage but more forgiving window</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Utilt-->

        <tr>
            <td rowspan="2">U-Tilt</td>
            <td>FH Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>23.1</td>
            <td>Most consistent follow-up</td>
            <td></td>
        </tr>

        <tr>
            <td>DD FH Up-Air</td>
            <td style="background-color:lightgreen;"></td>
            <td></td>
            <td>Requires platforms for continuation</td>
            <td>Grab/F-Smash/Up-Smash/Up-Tilt</td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Back Throw-->

        <tr>
            <td rowspan="2">Back-Throw</td>
            <td>D-Tilt</td>
            <td style="background-color:lightgreen;"></td>
            <td>17.6</td>
            <td>Only on mid to fastfallers</td>
            <td>See D-Tilt follow-ups</td>
        </tr>

        <tr>
            <td>Dash Attack</td>
            <td style="background-color:yellow;"></td>
            <td>23.9</td>
            <td>Suboptimal damage, but can set up for edgegaurds</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Rising Dair-->

        <tr>
            <td rowspan="1">Rising Dair</td>
            <td>Nair</td>
            <td style="background-color:lightgreen;"></td>
            <td>SH:22.5 FH:24.4</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <!--Fthrow-->

        <tr>
            <td rowspan="1">F-Throw</td>
            <td>Dash Attack</td>
            <td style="background-color:red;"></td>
            <td>26.4</td>
            <td>Never do this</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="background-color:black; color: rgb(255, 187, 0);"></td>
        </tr>

        <tr style="border-color: royalblue;">
            <td colspan="8" style="background-color: royalblue; color: royalblue;">
                <h1>Space</h1>
            </td>
        </tr>
    
    </table>

    <table class="table-responsive table-bordered text-center my-5" style="margin-left:auto; margin-right:auto; border-color:black; background-color: white;">

        <tr style="border-color: purple;">
            <td rowspan="50" style="background-color: purple; color: purple;">
                Space
            </td>
            <td colspan="8" style="background-color: purple;">
                <h1 class="text-center">Mid Percents (30-60)</h1>
            </td>
            <td rowspan="50" style="background-color: purple; color: purple;">
                Space
            </td>
        </tr>

        <tr style="color:black; background-color: rgb(255, 187, 0);">
            <th>Combo Starter</th>
            <th>Follow Up</th>
            <th>Practicality</th>
            <th>Damage</th>
            <th>Notes</th>
            <th>Continuation</th>
        </tr>

        <!--Nair-->

        <tr>
            <td rowspan="2">SH AC Nair</td>
            <td>Fair</td>
            <td style="background-color: lightgreen;"></td>
            <td>23.9</td>
            <td>Most Consistent</td>
            <td></td>
        </tr>

        <tr>
            <td>Up-Smash</td>
            <td style="background-color: yellow;"></td>
            <td>26.5</td>
            <td>Smaller Window</td>
            <td></td>
        </tr>

        <!--D-Throw-->

        <tr>
            <td rowspan="9">D-Throw</td>
            <td>FH Dair</td>
            <td style="background-color: lightgreen;"></td>
            <td>20.1</td>
            <td>Best overall for mid percents</td>
            <td>Nair/Up-Air</td>
        </tr>

        <tr>
            <td>RAR FH Dair</td>
            <td style="background-color: lightgreen;"></td>
            <td>20.1</td>
            <td>Can potentially kill near ledge</td>
            <td>Bair</td>
        </tr>

        <tr>
            <td>Up-Tilt</td>
            <td style="background-color: lightgreen;"></td>
            <td>18.9</td>
            <td></td>
            <td>Bair</td>
        </tr>


</div>

<%- include('../partials/footer') %>